<html xmlns:th="http://www.thymeleaf.org">
<div style="font-family: Helvetica,Arial,sans-serif;min-width:1000px;overflow:auto;line-height:2">
  <div style="margin:50px auto;width:70%;padding:20px 0">
    <div style="border-bottom:1px solid #eee">
      <a href="" style="font-size:1.4em;color: rgba(0,106,25,0.89);text-decoration:none;font-weight:600">Personal Finance</a>
    </div>
    <p style="font-size:1.1em">Hi,</p>
    <p th:text="'Thank you for choosing Personal Finance. Use the following OTP to complete your procedures. OTP is valid for ' + ${time_life} + ' minutes'"></p>
    <h2 style="background: rgba(0,106,25,0.89);margin: 0 auto;width: max-content;padding: 0 10px;color: #fff;border-radius: 4px;" th:text="${otp}"></h2>
    <p style="font-size:0.9em;">Regards,<br />Personal Finance</p>
    <hr style="border:none;border-top:1px solid #eee" />

  </div>
</div>
</html>