version: "3.3"

services:
  lm-mysql-db:
    container_name: lm-mysql-db
    image: mysql
    volumes:
      - lm-db-data:/var/lib/mysql
      - ./mysql/init/add-user-schema.sql:/docker-entrypoint-initdb.d/add-user-schema.sql
    ports:
      - 3307:3306
    command: --default-authentication-plugin=mysql_native_password
    environment:
      MYSQL_ROOT_PASSWORD: Aibles@2022
    restart: always

volumes:
  lm-db-data: {}