server:
  port: 8088

spring:
  application:
    name: config-server
  profiles:
    active: native
  thymeleaf:
    cache: false
  security:
    oauth2:
      client:
        registration:
          keycloak:
            client-id: library-management
            client-secret: b3052170-83a1-4a11-a962-a8e6c4c03138
            clientName: library-management
            authorization-grant-type: password
            redirect-uri: http://localhost:8088/login/oauth2
        provider:
           keycloak:
            issuer-uri: http://dev.aiblessso.ml/auth/realms/aibles